body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #072974, #095edd);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    color: #fff;
}

.game-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
}

#snake-head {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(9, 87, 13);
}

#food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

.snake-segment {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
}

.controls {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#loserPopup,
#restartPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    z-index: 1000;
}
